<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper-outline" size="large"></ion-icon>
      <ion-label style="font-family: Tajawal;">الأخبار</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="reader-outline" size="large"></ion-icon>
      <ion-label style="font-family: Tajawal;">شكاوى/ مقترحات </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="hand-left-outline" size="large"></ion-icon>
      <ion-label style="font-family: Tajawal;">تصويت</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline" size="large"></ion-icon>
      <ion-label style="font-family: Tajawal;">حسابي</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>