.page_title{
    font-family: Tajawal;
    font-weight: medium;
    text-align: right;
}
.card-ios{
    border-radius: 8px!important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px!important;
    font-family: Tajawal;
}
.font-taj{
    font-family: Tajawal;
    font-weight: medium;
    font-size: larger;
}
.text-white{
    color: white;
}
.mt-1{
    margin-top: 5vh;
}
.mt-2{
    margin-top: 10vh;
}
.mt-3{
    margin-top: 15vh;
}
.text-light-grey{
    color: #ababab;
}
.vote-title{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 2vh;
}