
<ion-content>

  <ng-container *ngIf="comp">
    <div class="ion-text-center mt-4">
      <img src="/assets/success.png">
      <h1 class="font-taj">تم ارسال الشكوى</h1>
    </div>
  </ng-container>
  <ng-container *ngIf="sugg">
    <div class="ion-text-center mt-4">
      <img src="/assets/success.png">
      <h1 class="font-taj">تم ارسال الاقتراح</h1>
    </div>
  </ng-container>
  <ng-container *ngIf="proj">
    <div class="ion-text-center mt-4">
      <img src="/assets/success.png">
      <h1 class="font-taj">تم ارسال الطلب</h1>
    </div>
  </ng-container>
  
  <ng-container *ngIf="pass">
    <div class="ion-text-center mt-4">
      <img src="/assets/success.png">
      <h1 class="font-taj">تم تغيير كلمة السر</h1>
    </div>
  </ng-container>

  <ng-container *ngIf="pass">
    <div class="ion-text-center mt-4">
      <img src="/assets/success.png">
      <h1 class="font-taj">تم تحديث البيانات</h1>
    </div>
  </ng-container>
</ion-content>
